@model RankinRetro.ViewModels.CreateProductViewModel
@using RankinRetro.Data.Enum


<form method="post" asp-action="Create" enctype="multipart/form-data">

    <div class="form-group">
        <div class="form-control">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Enter name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-control">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Enter description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-control">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control" placeholder="Enter price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-control">
            <label asp-for="CategoryId">Category</label>
            <!--This select list uses the IEnumerable "Categories", compares it to the category ID and then displays the name of the category where the ID would be in the select list-->
            <select asp-for="CategoryId" asp-items='new SelectList(Model.Categories, "CategoryId", "Name")' class="form-control"></select>
            <input type="hidden" asp-for="Categories">
        </div>
        <div class="form-control">
            <label asp-for="BrandId">Brand</label>
            <select asp-for="BrandId" asp-items='new SelectList(Model.Brands, "BrandId", "Name")' class="form-control"></select>
            <input type="hidden" asp-for="Brands">
        </div>

        <div class="form-control">
            <label asp-for="Size">Size</label>
            <select asp-for="Size" asp-items="@Html.GetEnumSelectList<Size>()" class="form-control"></select>
        </div>
        <div class="form-control">
            <label asp-for="Colour">Colour</label>
            <select asp-for="Colour" asp-items="@Html.GetEnumSelectList<Colour>()" class="form-control"></select>
        </div>
        <div class="form-control">
            <label asp-for="Material">Material</label>
            <select asp-for="Material" asp-items="@Html.GetEnumSelectList<Material>()" class="form-control"></select>
        </div>
        <div class="form-control">
            <label asp-for="ImageURL">Image</label>
            <input asp-for="ImageURL" class="form-control" placeholder="Upload image" type="file">
            <span asp-validation-for="ImageURL" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    
</form>