@using RankinRetro.ViewModels
@using RankinRetro.Data.Enum

@model ProfileViewModel

<div class="row">
    <div class="col-md-8 offset-2">
        <h1 class="h3 mb-3 offset-5 fw-normal">Edit profile</h1>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <p>@Model.Email</p>
                <input type="hidden" asp-for="Email">
                <input type="hidden" asp-for="Id">
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control">
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <select asp-for="Title" class="form-control" asp-items="@Html.GetEnumSelectList<UserTitle>()"><option>--Select--</option></select>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()"><option>--Select--</option></select>
            </div>
            <div class="form-group">
                <label asp-for="AddressFirstline" class="control-label"></label>
                <input asp-for="AddressFirstline" class="form-control">
                <span asp-validation-for="AddressFirstline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityTown" class="control-label"></label>
                <input asp-for="CityTown" class="form-control">
                <span asp-validation-for="CityTown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressSecondline" class="control-label"></label>
                <input asp-for="AddressSecondline" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="AddressPostcode" class="control-label"></label>
                <input asp-for="AddressPostcode" class="form-control">
                <span asp-validation-for="AddressPostcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control">
            </div>
            <div class="form-group">
                <input class="btn btn-outline-success float right" type="submit" value="Update profile" />
                <a class="btn btn-outline-danger" asp-controller="Account" asp-action="Profile">Cancel</a>
            </div>
        </form>
    </div>
</div>

<style>
    .row {
        margin-top: 20px;
    }

    .col-md-8 {
        margin: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    .form-control {
        border: 1px solid #ced4da;
        border-radius: 4px;
    }

    .btn {
        margin-right: 10px;
    }

    .float-right {
        float: right;
    }

    .btn-outline-secondary{
        background-color: #ffc107;
        color: darkred;
        border: 1px solid #ffc107;
    }
</style>
