
@model ShoppingCart


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model.Details)
            {
                <tr>
                    <td>@cartItem.Product.Name</td>
                    <td>@cartItem.Quantity</td>
                    <td>£@cartItem.Price</td>

                <td>
                <form method="post" action="~/Cart/RemoveItem">
                     <input type="hidden" name="ProductId" value="@cartItem.ProductId">
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
                </td>
            </tr>
            }
        </tbody>
        
    </table>

<h2>Total price: £@ViewBag.TotalPrice</h2>

    <button type="submit" class="btn btn-primary">Proceed to Checkout</button></a>